// firestore.rules
rules_version = '2';
service cloud.firestore {
  match /databases/{db}/documents {
    
    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{uid} {
      allow read: if isSignedIn();
      allow create, update: if isSignedIn() && request.auth.uid == uid;
    }

    match /dares/{dareId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn();
      allow update: if isSignedIn() && request.auth.uid == resource.data.creatorId;
    }

    match /users/{uid}/transactions/{txId} {
      allow read: if isSignedIn();
      allow write: if false; // server-only
    }

    match /leaderboard/{weekId} {
      allow read: if isSignedIn();
      allow write: if false; // server-only
    }

    match /challenges/{challengeId} {
      allow update: if request.auth != null && request.resource.data.typing[request.auth.uid] != null;
    }

    match /challenges/{challengeId}/messages/{messageId} {
      allow read: if isSignedIn();
      allow create, update: if isSignedIn() && request.auth.uid in resource.data.read;
    }
  }
}
